.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 9;
    overflow: hidden;
}
.nav-bar li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* efecto hover() sobre para las ofciones de la nav*/
li a:hover {
    background-color: rgb(38, 20, 171);
}
header {
    background-color: black;
}