table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* efectos de borde: dotted - dashed - solid - double - groove - ridge - inset - outset */
}

th { 
    background-color: black;
}

td{
    background-color: rgb(71, 71, 71);
    padding: 10px;
}