table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* efectos de borde: dotted - dashed - solid - double - groove - ridge - inset - outset */
}

th { 
    background-color: aqua;
}

td{
    background-color: aquamarine;
    padding: 10px;
}